body {
    margin: 0px;
}

.container {
    height: 800px;
    margin: 0px;
    background-color: hsl(212, 45%, 89%);
    min-width: 375px;
    max-width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Outfit', sans-serif;
}

.main {
    position: relative;
    top: 150px;
    margin: auto;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 5%;
}

.qrcode {
    display: inline;
    border-radius: 5%;
    margin: 10px;
    position: relative;
    width: 92%;
    height: 40%;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    width: 90%;
    margin: auto;
}